body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #455a64;
  color: #263238;
}

a {
  color: #263238;
}

button:active,
button:hover,
button:focus,
.btn:hover {
  background-color: #ff8f00;
}

button,
button:visited,
.btn {
  background-color: #ffc107;
  color: #263238;
  padding: 10px;
  margin: 15px;
  border-width: 2px;
  border-style: none;
  border-radius: 10px;
  line-height: 18px;
  text-transform: uppercase;
}

nav {
  background-color: #455a64;
  border: none;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;    
}

nav img {
  margin: 15px 15px 0px 15px;
}

p {
  font-size: 1.2rem;

}

p > a {
  color: white;
  text-decoration: underline;
}

.container {
  background-color: white;
  padding: 50px;
  border: 2px solid #263238;
}

#landing {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;
  color: white;
}

.shadow {
  margin: 0 auto;
  max-width: 750px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.2);    
  border: 2px solid #263238;
}
